{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

{% if messages%}
<div class="messages">
    {% for message in messages %}
    <h4 {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</h4>
    {% endfor %}
</div>
{% endif %}

<div class="cards_ani">
    <article class="card">
        <header>
            <h3> {{ character.id_character }} </h3>
        </header>
        <img src='../../{{character.photo}}' style="max-width: 120px; max-height: 100px; margin-bottom: 15px;" alt="Pas d'image"/>
        <p>Etat: {{ character.etat }}</p>
        <p>Type: {{character.type}} </p>
        <p>Race: {{character.race}} </p>
        <p>Lieu: {{ character.lieu }}</p>
    </article>
</div>
<p></p>

<form method="POST" class="post-form"> {% csrf_token %}
    <b> Où voulez-vous emmener {{ character.id_character }} ? </b> 
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Valider</button>
    <a href="{% url 'post_list' %}" class="btn btn-secondary" role="button">Retour</a>
</form>
</div>
{% endblock %}